
body {
  color: #F0C537;
  background-color: #000000;
  line-height: 1.2;
  padding-left: 50px;
  padding-right: 50px;
}
header {
	height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  width: 1090px;
}
h1 {
  font-size: 50px;
  text-align: center;
  font-family:Haettenschweiler;
}
h3 {
  font-size: 30px;
  font-family: Impact;
}

#mediaLink {
  color:#17CCF0;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  font-family: 'Lucida Sans';
}
h1 a {
  color: inherit;
  text-decoration: none;
}
ol {
  columns: 5;
  list-style-type: decimal !important;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
	display:block;
  text-align: center;
	float:left;
	margin-left:2px;
}
nav a {
  background-color: #4F15A3;
  border-color: #17CCF0;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica;
  color: #17CCF0;
  padding: 0 20px;
  font-size: 125%;
  display: block;
}

nav a:hover {
  background-color: #17CCF0;
  border-color: #4F15A3;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #7B2BF0;
}
main {
  position: relative;
}

p {
  text-align: center;
  font-family: 'Lucida Sans';
  font-size: 25px;
  display: block;
  margin: auto;
}

#topPoster {
  width: 150px;
  height: 200px;
}

#mediaTitle {
  font-family: Impact;
  text-align: center;
  display: block;
  position: relative;
}

#mediaGenre {
 text-align: center;
 position: relative;
 font-size: 20px;
 padding-bottom: 15px;
 display: block;
}

#mediaDescription {
  text-align: left;
  position: relative;
  height: 100px;
  width: 500px;
  font-size: 20px;
  display: block;
 }
 #mediaCast {
  text-align: center;
  position: relative;
  padding-top: 25px;
  font-size: 15px;
  display: block;
 }
 #mediaPoster {
  position: relative;
  bottom: 310px;
  left: 900px;
  width: 250px;
  height: 300px;
  border: #17CCF0 5px solid;
  border-radius: 5px;
 }
 #mediaDiv {
  font-size: 15px;
  font-family: 'Lucida Sans';
  position: relative;
  border: #17CCF0 5px solid;
  border-radius: 5px;
  width: 500px;
  left: 300px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
 }
 #buttons {
  display: flex;
  padding-top: 5px;
  position: relative;
  bottom: 300px;
  left: 475px;
}

button,
.spacer {
  margin: 15px;
}