
body {
  color: #0FF;
  background-color: #000;
  line-height: 1.2;
  padding-left: 50px;
  padding-right: 50px;
}
header {
	height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  width: 1090px;
}
h1 {
  color: #0FF;
  text-align: center;
}
h3 {
  font-size: 30px;
}
li {
  text-align: center;
  font-size: 20px;
}
h1 a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
	display:block;
  text-align: center;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}
nav a {
  background-color: #000;
  border-color: #0FF;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: #0FF;
  padding: 0 20px;
  font-size: 125%;
  display: block;
}

nav a:hover {
  background-color: #0FF;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #000;
}
main {
  position: relative;
}
p {
  text-align: center;
  font-size: 25px;
  display: block;
  margin: auto;
}
#mediaTitle {
  text-align: center;
  display: block;
  position: relative;
}
#mediaGenre {
 text-align: center;
 position: relative;
 font-size: 15px;
 display: block;
}
#mediaDescription {
  text-align: center;
  position: relative;
  height: 100px;
  width: 500px;
  font-size: 20px;
  display: block;
 }
 #mediaCast {
  text-align: center;
  position: relative;
  font-size: 15px;
  display: block;
 }
 #mediaPoster {
  position: absolute;
  bottom: 10px;
  left: 900px;
  width: 250px;
  height: 300px;
  border: #0FF 5px solid;
  border-radius: 5px;
 }
 #mediaDiv {
  position: relative;
  border: #0FF 5px solid;
  border-radius: 5px;
  width: 500px;
  left: 300px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
 }
 #buttons {
  display: flex;
  padding-top: 5px;
  position: relative;
  left: 450px;
}

button,
.spacer {
  margin: 15px;
}