<%- include('../shared/header.ejs') %>
<main>
  <p>CVTC Username: joconnor10</p>
  <p>GitHub: <a href="https://github.com/it-sd/sqc-project-pirate4593">Media Master</a></p>
  <p>
    Media Master's purpose is to have a database of movies, and shows including anime. It will allow Users
    to see a list of movies, shows, or anime. It will also allow users to search for a specific movie, show, or anime.
  </p>
</main>
</body>
</html>