<%- include('../shared/header.ejs') %>
<main>
  <h3>Media List</h3>
  <ol>
    <%_ for (const media of medias) { _%>
      <li><a id ="mediaLink" href="/<%= media.id %>"><%= media.title %></a></li> 
    <%_ } _%>
  </ol>
</main>
</body>
</html>