<%- include('../shared/header.ejs') %>
<main>
  <h3>Media List</h3>
  <ul>
    <%_ for (const media of medias) { _%>
      <li><a id ="mediaLink" href="/<%= media.imdb_id %>"><%= media.title %></a></li> <br><br>
    <%_ } _%>
  </ul>
</main>
</body>
</html>