<%- include('../shared/header.ejs') %>
<main>
  <h3>Movie List</h3>
  <ol>
    <%_ for (const movie of movies) { _%>
      <li><a href="/<%= movie.id %>"><%= movie.title %></a></li> 
    <%_ } _%>
    </ol>
</main>
</body>
</html>