<%- include('../shared/header.ejs') %>
<main>
  <h1>Most Popular</h1>
    <% for (let i = 0; i < media.length; i++) { %>
      <li>
        <a href="/<%= media[i].id %>">
          <img id="topPoster"src="<%= media[i].poster %>" alt="<%= media[i].title %>">
        </a>
      </li>
    <% } %>
</main>
</body>
</html>