<%- include('../shared/header.ejs') %>
<main>
  <div id="searchResult">
    <ol>
      <% for (let i = 0; i < media.length; i++) { %>
        <li>
          <a href="/<%= media[i].id %>">
            <img id="topPoster"src="<%= media[i].poster %>" alt="<%= media[i].title %>">
          </a>
        </li>
      <% } %>
    </ol>
  </div>
</main>
</body>
</html>