<%- include('../shared/header.ejs') %>
<main>
  <h3>Search Media</h1>
  <input id="searchInput" maxlength="32" placeholder="Wizard of Oz">
  <button id="searchButton">Search</button>
</main>
</body>
</html>